@using PROMPERU.PERUMODA.BE
@using PROMPERU.PERUMODA.Web.Resources

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <link rel="shortcut icon" href="~/image/icon.ico"/>

    <title>@Global.APP_NAME</title>
    <meta name="description" content="No te pierdas el primer foro virtual del 01 al 29 de octubre."/>

    <meta property="og:locale" content="es_ES"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Foro PerúModa&Deco 2020"/>
    <meta property="og:description" content="No te pierdas el primer foro virtual del 01 al 29 de octubre."/>
    <meta property="og:url" content="https://www.perumoda.com/foro2020"/>
    <meta property="og:site_name" content="Foro PerúModa&Deco 2020"/>
    <!-- <meta property="og:image" content="~/image/share.jpg"> -->

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="No te pierdas el primer foro virtual del 01 al 29 de octubre."/>
    <meta name="twitter:title" content="Foro PerúModa&Deco 2020"/>
    <meta name="twitter:site" content="https://www.perumoda.com/foro2020"/>
    <!-- <meta name="twitter:image" content="~/image/share.jpg" /> -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mr-auto" href="@Url.Action("Index", "Home")">@Global.APP_NAME</a>
    <div class="mr-sm-2">
        <a href="@Url.Action("Logout", "Usuario")">
            <i class="fa fa-sign-out-alt"></i>
        </a> Hola, <b>@Session["UsuarioNombre"]</b>
    </div>
</nav>

<div class="container mt-5">
    <h4 class="mb-4">Lista de Usuarios</h4>
    <div class="mb-2">
        <a href="@Url.Action("ExportarExcel", "Reporte")" class="text-success d-inline-block p-2 border text-decoration-none border-success hoverable">
            <i class="fa fa-file-excel"></i> Exportar
        </a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nombres</th>
                <th scope="col">E-mail</th>
                <th scope="col">Documento</th>
                <th scope="col">País</th>
                <th scope="col">Suscripción</th>
            </tr>
            </thead>
            <tbody>
            @foreach (UsuarioBloqueBE usuario in (List<UsuarioBloqueBE>) ViewBag.Usuarios)
            {
                <tr>
                    <td class="text-capitalize">@usuario.UsuarioNombres.ToLower() @usuario.UsuarioApellidos.ToLower()</td>
                    <td><pre>@usuario.UsuarioCorreoElectronico.ToLower()</pre></td>
                    <td class="text-right"><code>@usuario.UsuarioNumeroDocumento</code></td>
                    <td>@usuario.PaisNombre</td>
                    <td>@usuario.BloqueNombre</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    
    
    <nav aria-label="...">
        <ul class="pagination justify-content-end">
            @if (ViewBag.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","Reporte", new {Page = ViewBag.CurrentPage - 1})">Anterior</a>
                </li>
            }
            
            @if (ViewBag.Pages  < ViewBag.NextPage - 1)
            { 
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Siguiente</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", "Reporte", new {Page = ViewBag.NextPage})">Siguiente</a>
                </li>
            }

        </ul>
    </nav>
</div>


<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>